body {
  background-color: #B6B6B4;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
}

.main-container {
  width: 960px;
  margin: 0 auto;
}

.dice-container {
  min-height: 500px;
  width: 960px;
  margin: 0 auto;
  background: url('https://cloud.githubusercontent.com/assets/7440065/3524864/a079eb18-076d-11e4-85a2-f7913cdef4d6.jpg') no-repeat;
  background-size: cover;
  padding: 2px;
  border: solid 1px #726E6D;
}

// Styling for individual dice
.box1 {
	float: center;
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 150px;
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color: #eae0c2;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid #333029;
	color: #34282C;
	font-size: 100px;
	line-height: 150px;
	text-shadow: 0px 1px 0px #ffffff;
}

// Styling number input fields
input[type=number] {
  background-color: white;
  padding: 2px;
  margin: 4px;
  border: solid 1px #726E6D;
}

// Styling roll dice and reset buttons
input[type=submit] {
  -moz-box-shadow: inset 0px 39px 0px -50px #726E6D;
  -webkit-box-shadow: inset 0px 39px 0px -50px #726E6D;
  box-shadow: inset 0px 39px 0px -50px #726E6D;
  background-color: #E5E4E2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #726E6D;
  display: inline-block;
  color: #34282C;
  font-family: Arial, Sans-Serif;
  line-height: 12px;
  height: 27px;
  margin-top: 9px;
  text-decoration: none;

  &:hover {background-color:#D1D0CE;}
  &:focus {outline: none;}
  &:active {
    position:relative;
    top:1px;
  }
}

// Alignment and padding for roll dice and reset buttons
.input-fields div {
  vertical-align: top;
  display: inline-block;
  margin: 10px 12px 0 0;

  & p {margin: 0;}

  &.roll-dice, &.reset {
  margin-top: 18px;
  }
}

.what-you-can-enter {
  margin-top: 10px;
}